body {
	background-color: LightBlue;
}

main {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	font-family: "Times New Roman", Times, serif;
}

li {
	text-align: center;
	list-style-type: none;
	/* I don't really see how margins and padding applies */
}

li::first-letter {
	font-size: 150%;
}